<div class="page-header">
  <h1>CAT FACT!</h1>
</div>

<h4>
  <%= @fact %>
</h4>

<% if @channels %>
  <br>
  <p>Send to:</p>
  <% @channels.each do |channel| %>
    <%= link_to channel["name"],
      { controller: "cat_facts", action: "send_message", fact: @fact, channel_id: channel["id"] },
      method: "post", class: "btn btn-default btn-sm" %>
  <% end %>
<% end %>